.wrapper {
  padding: 40px 0;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  max-width: 280px;
  width: 100%;
}

.searchContainer input {
  border-radius: 20px;
  border: 1px solid rgba(229, 243, 255, 0.16);
  width: 100%;
  background-color: transparent;
  padding: 15px 0;
  padding-left: 45px;
  padding-right: 10px;
  outline: none;

  color: #fff;
}

.searchContainer img {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
}
@media only screen and (max-width: 991px) {
  .projects {
    grid-template-columns: 1fr;
  }
}
