.tokenInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.keyValue {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  flex-wrap: wrap;
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.keyValue:last-child {
  border: none;
}

.key {
  color: #fff;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.value {
  color: #e4f5ff;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: auto;
}
.binanceIcon {
  width: 18px;
}
.copyIcon {
  width: 18px;
  cursor: pointer;
}
