.manage {
  padding-top: 50px;
}

.title {
  background: rgba(42, 50, 60, 0.1);
  padding-bottom: 25px;
}

.title h2 {
  margin: 0;
  padding-bottom: 12px;
}

.stakings {
  margin-top: 50px;
}

.stakings .stakingItem {
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(36, 43, 51, 0.8) 0%,
      rgba(36, 43, 51, 0.8) 100%
    ),
    rgba(36, 43, 51, 0.8);
  padding: 12px 30px;
  margin-bottom: 20px;
}

.stakings .stakingItemContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-top: 14px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .stakings .stakingItemContent {
    gap: 20px;
  }

  .stakings .stakingItemContent > div {
    min-width: 90px;
    flex-shrink: 0;
  }
}

.stakings .stakingItemContent .percent1,
.stakings .stakingItemContent .percent2 {
  width: 55px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 20px;
  padding: 5px;
}

.stakings .stakingItemContent .percent1 {
  background: #e8ffce;
}

.stakings .stakingItemContent .percent2 {
  background: #acfadf;
}

.stakings .stakingItemContent .percent1 .mainText,
.stakings .stakingItemContent .percent2 .mainText {
  color: #0f381d;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 111.111% */
  text-transform: capitalize;
}

.stakings .stakingItemContent .percent1 .subText,
.stakings .stakingItemContent .percent2 .subText {
  color: #0f381d;
  text-align: center;
  font-family: ZCOOL XiaoWei;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  text-transform: capitalize;
}

.stakings .stakingItemContent .label {
  color: #e4f5ff;
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.stakings .stakingItemContent .value {
  color: rgba(228, 245, 255, 0.8);
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.green {
  color: #1ced86;
}

@media screen and (max-width: 1024px) {
  .actionsWrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.actions {
  display: inline-flex;
  padding: 0px 4px 0px 2px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.actions button {
  width: 114px;
  height: 56px;
  gap: 10px;
  border-radius: 15px 0px 0px 15px;
  background: #1dfe8e;
  color: #18332e;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; /* 168.75% */
  text-transform: capitalize;
  flex-shrink: 0;
}

.actions button:nth-child(2) {
  border-radius: 0px 15px 10px 0px;
  border-left: 1px solid #d6edff;
}

.stakingTable {
  border-radius: 10px;
  background: linear-gradient(
      0deg,
      rgba(36, 43, 51, 0.8) 0%,
      rgba(36, 43, 51, 0.8) 100%
    ),
    rgba(36, 43, 51, 0.8);
}

.stakingTable table {
  width: 100%;
  border-collapse: collapse;
}

@media screen and (max-width: 1024px) {
  .stakingTable {
    overflow: auto;
  }

  .stakingTable::-webkit-scrollbar {
    height: 0;
  }

  .stakingTable table {
    min-width: 850px;
  }
}

.stakingTable table th {
  color: rgba(228, 245, 255, 0.5);
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 133.333% */
  text-transform: capitalize;
  padding: 12px;
}

.stakingTable table td {
  padding: 12px;
  border: 1px solid rgba(228, 245, 255, 0.1);
  color: #e4f5ff;
  text-align: left;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 153.846% */
  text-transform: capitalize;
  border-bottom: 0;
}

.stakingTable table td:nth-child(1) {
  border-left: 0;
  font-size: 15px;
  text-align: center;
}

.stakingTable table td:last-child {
  border-right: 0;
}

.light {
  color: rgba(228, 245, 255, 0.5);
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: capitalize;
}

.stakingTable .box {
  max-width: 214px;
  border-radius: 10px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.09) 0%,
      rgba(0, 0, 0, 0.09) 100%
    ),
    rgba(36, 43, 51, 0.05);
  padding: 6px 21px 0px 21px;
}

.stakingTable .box .boxItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stakingTable a {
  color: #059dff;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
