.wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 25px;
}
.heading {
  color: #ddffef;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 12px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(180deg, rgba(12, 175, 96, 0.5) 0%, rgba(22, 29, 38, 0) 100%);
  padding: 12px;
  height: 100%;
  align-self: stretch;
  box-shadow: 0px 4px 4px rgba(9, 255, 33, 0.25);
  position: relative;
}
.id {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(12, 175, 96, 0.3);
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  position: absolute;
  top: 12px;
  left: 12px;
  opacity: 0.5;
}
.image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.info {
  color: rgba(229, 243, 255, 0.8);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  padding-top: 20px;
}
.button {
  color: #18332e;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 185.714%;
  text-transform: capitalize;
  border-radius: 10px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    #1ced86;
  padding: 8px 20px;
  width: 100%;
  margin-top: auto;
}
@media only screen and (max-width: 1199px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 991px) {
  .image {
    width: 70px;
    height: 70px;
  }
  .id {
    font-size: 22px;
    width: 36px;
    height: 36px;
  }
}
@media only screen and (max-width: 767px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }
}
@media only screen and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
