.tableContainer {
  margin-top: 16px;
  overflow-x: auto;
}

.tableContainer table {
  min-width: 100%;

  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.action {
  display: flex;
  align-items: center;
  gap: 6px;
}

.green {
  color: #0caf60;
}

.red {
  color: #ff3e46;
}

.tableContainer th {
  color: rgba(228, 245, 255, 0.5);
  text-align: left;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  text-transform: capitalize;

  background: rgba(255, 255, 255, 0.1);
  padding: 12px 15px;
  white-space: nowrap;
}

.tableContainer td {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  background: rgba(36, 43, 51, 0.3);
  padding: 12px 15px;
  white-space: nowrap;
}
.txIdContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #6e8ba1;
}
/* Firefox */
.tableContainer {
  scrollbar-width: thin;
  scrollbar-color: #1ced86 rgba(250, 250, 250, 0.2);
  border-radius: 5px;
}

/* Chrome, Edge, and Safari */
.tableContainer::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

.tableContainer::-webkit-scrollbar-track {
  background: rgba(250, 250, 250, 0.2);
  border-radius: 5px;
}

.tableContainer::-webkit-scrollbar-thumb {
  background: #1ced86;
  border-radius: 100vh;
  border: none;
  border-radius: 5px;
}
