.cardTitleleft {
  flex-grow: 1;
  max-width: 290px;
}

.cardTitleleft .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 6px 0;
  position: relative;
}

.cardTitleleft .item::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 80%;
  transform: translateX(-50%);
  height: 1px;
  border-bottom: 2px dashed #e5f3ff1f;
}

.cardTitleleft .item .itemLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  color: #e5f3ff66;
  font-size: 12px;
}

.cardTitleleft .item .true,
.cardTitleleft .item .false {
  width: 60px;
  height: 23px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
}

.cardTitleleft .item .false {
  background-color: #f66d6d;
  color: #771b1bcc;
}

.cardTitleleft .item .true {
  background-color: #56ea9d;
  color: #1a623c;
}

@media only screen and (max-width: 640px) {
  .cardTitleleft {
    flex-grow: 1;
    width: 100%;
  }
}
