.hero {
  padding: 146px 18px 14px;
  background: url(../../../images/bg-hero.png);

  background-position: cover;
  border-radius: 26px;
}

@media screen and (max-width: 767px) {
  .hero {
    padding: 18px 10px;
  }
}

.heroMain {
  display: grid;
  grid-template-columns: 450px 1fr;
  gap: 20px;
}

/* @media screen and (max-width: 1280px) {
  .heroMain {
    gap: 30px;
  }
} */

@media screen and (max-width: 1199px) {
  .heroMain {
    grid-template-columns: 1fr;
  }
}

.card1 {
  /* width: 454px; */
  border-radius: 26px;
  overflow: hidden;
  background-color: #242b33cc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .card1 {
    width: 100%;
  }
}

.card1 .cardTitle {
  background-color: #242b3366;
  padding: 8px 16px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.card1 .cardLeft {
  display: flex;
  gap: 18px;
  align-items: flex-start;
}
.card1 .cardLeft img {
  width: 65px;
  height: 75px;
}

.card1 .cardTitle h4 {
  font-size: 22px;
  margin-bottom: 2px;
  margin-top: 6px;
}

.card1 .cardTitle p {
  font-weight: 600;
  font-size: 14px;
  color: #e5f3ffcc;
}

.card1 .cardTitle p small {
  font-size: 12px;
  font-weight: 300;
}

@media screen and (max-width: 640px) {
  .card1 .cardTitle {
    gap: 20px;
  }
}

.card1 .upcoming {
  border: 1px solid #feffbb80;
  background-color: #feffbb21;
  height: 28px;
  padding: 0 6px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #feffbb;
  padding-right: 14px;
}

.card1 .approx {
  margin-top: 14px;
}

.card1 .cardBody {
  padding: 6px 32px;
}

@media screen and (max-width: 640px) {
  .card1 .cardBody {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.card1 .cardBody p {
  color: #d6edff99;
  font-weight: 500;
  line-height: 1.75;
  font-size: 14px;
}

.card1 .cardFooter {
  background-color: #242b3366;
  padding: 10px 16px 8px;
}

.card1 .cardFooter .top {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.card1 .cardFooter .bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.card1 .bnbContainer {
  border-radius: 999px;
  background-color: #242b33cc;
  padding: 6px;
  display: flex;
  flex-shrink: 0;
}

.card1 .bnbContainer .text {
  display: flex;
  align-items: center;
  gap: 46px;
  padding-left: 10px;
  padding-right: 20px;
  font-size: 12px;
}

.card1 .bnbContainer .text .light {
  color: #e5f3ffcc;
}

.card1 .bnbContainer .text .white {
  color: #e5f3ffcc;
  font-weight: 700;
}

.card1 .bottom {
  padding: 6px 0;
}

.btn {
  background-color: #e5f3ff1a;
  border-radius: 14px;
  font-size: 12px;
  color: #e5f3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.btn.lg {
  padding: 10px 35px;
}

.btn:not(.lg) {
  width: 50px;
  height: 28px;
}

.card2 {
  background-color: #242b33cc;
  flex-grow: 1;
  border-radius: 26px;
  overflow: hidden;
  padding: 15px 0;
}

.card2 .cardTitle {
  padding: 0 28px 12px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

@media screen and (max-width: 640px) {
  .card2 {
    width: 100%;
  }

  .card2 .cardTitle {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 16px 12px;
  }
}

.card2 .cardTitle .cardTitleRight {
  padding-top: 6px;

  flex-shrink: 0;
  text-align: center;
  position: relative;
  z-index: 1;
}

/* .card2 .cardTitle .cardTitleRight .IdoBtn {
  position: relative;
  width: 127px;
  height: 26px;
  background: url("../../../images/protected-idos-bg.svg");
  background-size: cover;
  cursor: pointer;
  text-align: center;
} */

.card2 .cardTitle .cardTitleRight .IdoBtn {
  width: calc(100% - 5px);

  border-radius: 26px;
  padding: 6px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;

  position: relative;
  background: rgba(42, 48, 53, 1);
}
.card2 .cardTitle .cardTitleRight .IdoBtnTxt {
  background: linear-gradient(
    20deg,
    rgba(53, 209, 210, 1),
    rgba(186, 30, 247, 1),
    rgba(238, 127, 89, 1),
    rgba(251, 21, 95, 1)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card2 .cardTitle .cardTitleRight .IdoBtnTxt::before {
  content: "";
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  border-radius: 26px;
  background: linear-gradient(
    20deg,
    rgba(53, 209, 210, 1),
    rgba(186, 30, 247, 1),
    rgba(238, 127, 89, 1),
    rgba(251, 21, 95, 1)
  );
  position: absolute;
  z-index: -1;
  top: -2.5px;

  left: -2.5px;

  animation: spin 5s ease infinite;
  opacity: 0.7;
}

/* .card2 .cardTitle .cardTitleRight .IdoBtnTxt {
  color: #fff;
  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; 
  letter-spacing: 0.12px;
  text-transform: uppercase;
  color: transparent;
  background-clip: text;
  background: url("../../../images/protected-ido-text-bg.svg");
  background-size: 243px 234.708px;
  background-position-x: -12px;
  background-position-y: -54px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
*/

.card2 .cardTitle .cardTitleRight .roundEnds {
  font-size: 22px;
  color: #e5f3ff80;
  font-weight: 500;
  margin: 7px 0;
}

.card2 .cardTitle .cardTitleRight .roundTime {
  font-weight: 700;
  color: #e5f3ff;
  font-size: 18px;
}

.card2 .cardBody {
  padding: 18px 28px;
}
@media screen and (max-width: 520px) {
  .card2 .cardTitle .cardTitleRight .roundEnds {
    font-size: 20px;
    margin: 10px 0;
  }

  .card2 .cardTitle .cardTitleRight .roundTime {
    color: #e5f3ff;
    font-size: 18px;
  }
}
@media screen and (max-width: 640px) {
  .card2 .cardBody {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.card2 .cardBody .loaderTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e5f3ff80;
  font-size: 18px;
  padding-bottom: 5px;
}

.card2 .cardBody .loaderTop .white {
  color: #e5f3ff;
  font-weight: 800;
}

.card2 .cardBody .loaderContainer {
  background-color: #d6edff29;
  padding: 10px 12px;
  border-radius: 10px;
  position: relative;
  margin-top: 4px;
}

.card2 .cardBody .loaderContainer .loaderMain {
  background-color: #1ced86;
  border-radius: 10px;
  height: 23px;
  width: 60%;
}

.card2 .cardBody .loaderContainer .text {
  color: #110f0f;
  font-weight: 500;
  font-size: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card2 .cardBody .loaderBottom {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  font-size: 15px;
  color: #e5f3ff80;
  gap: 10px;
  flex-wrap: wrap;
  text-transform: capitalize;
}

.card2 .cardBody .loaderBottom .white {
  color: #e5f3ff;
}

@media only screen and (max-width: 520px) {
  .card2 .cardBody .loaderBottom {
    font-size: 16px;
    text-transform: capitalize;
  }
}
.card2 .cardFooter {
  padding: 28px;
  background-color: #2a30354d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

@media screen and (max-width: 640px) {
  .card2 .cardFooter {
    padding: 16px;
  }
}

.card2 .cardFooter .button {
  padding: 14px 18px;
  border-radius: 10px;
  background-color: #1ced86;
  color: #18332e;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}

.card2 .cardFooter button:hover {
  background: rgba(24, 51, 46, 0.5);
  color: #d6edff;
}
.card2 .cardFooter .notRegistered {
  background: rgba(255, 255, 255, 0.8);
  color: #18332e;
  cursor: not-allowed;
}
.card2 .cardFooter .notRegistered:hover {
  transform: none;
  opacity: 1;
}
.card2 .cardFooter .salesEnded {
  background: #18332e;
  color: #d6edff;
  opacity: 0.5;
}
.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background: rgba(214, 237, 255, 0.12);
  padding: 6px 10px;
  width: 100%;
}

.input {
  color: #d6edff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.96px;
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding: 0 10px;
}
.max {
  border-radius: 10px;
  background: rgba(23, 25, 28, 0.5);
  color: #d6edff;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.84px;
  transition: 0.3s;
  padding: 8px;
  height: 100%;
}
.max:hover {
  transform: scale(1.1);
}
.card2 .cardFooter .buyButton {
  padding: 14px 18px;
  border-radius: 10px;
  background-color: #1ced86;
  color: #18332e;

  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  height: 100%;
}
@media only screen and (max-width: 520px) {
  .card2 .cardFooter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card2 .cardFooter .button {
    font-size: 15px;
    padding: 13px 15px;
  }
  .card2 .cardBody .loaderBottom {
    font-size: 15px;
  }
  .inputContainer {
    padding: 6px 8px;
  }

  .input {
    font-size: 14px;

    padding: 0 8px;
  }
  .max {
    font-size: 12px;

    padding: 6px;
  }

  .card2 .cardFooter .buyButton {
    padding: 13px 15px;

    font-size: 12px;

    height: 100%;
    width: 100%;
  }
}
