.section {
  padding-left: 40px;
  padding-right: 40px;
}

.section .inner {
  max-width: 1116px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .section {
    padding-left: 20px;
    padding-right: 20px;
  }
}
