.loadMore {
  display: flex;
  align-items: center;
  width: 188px;
  height: 50px;
  padding: 0 15px;

  gap: 10px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  border-radius: 10px;
  background: #303a46;
}
@media only screen and (max-width: 520px) {
  .loadMore {
    font-size: 16px;
    width: 160px;
    height: 40px;
  }
  .loadMore img {
    width: 24px;
  }
}
