.card {
  border-radius: 26px;
  background: #242b33;
  flex-grow: 1;

  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 1199px) {
  .card {
    padding: 16px;
  }
}

.card .infoWrapper {
  width: 100%;
}
.card .info {
  border-radius: 20px;
  background: rgba(229, 243, 255, 0.1);
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 5px 5px 16px;
}

@media screen and (max-width: 640px) {
  .card .info {
    flex-direction: column;

    padding: 12px;
  }
}

.green {
  color: #1ced86;
  font-weight: 400;
}

.card .info .title {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 138.889%;
  margin-bottom: 16px;
  padding-top: 20px;
}
@media screen and (max-width: 1199px) {
  .card .info .title {
    padding-top: 12px;
  }
}
@media screen and (max-width: 520px) {
  .card .info .title {
    padding: 5px 0;
    margin: 0;
  }
}
.card .info .infoItems {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.card .info .infoItem {
  display: grid;
  grid-template-columns: 1.2fr 0.7fr 0.8fr;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 178.571%;
  margin-top: 8px;
  width: 100%;
}
.amountAndToken {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1199px) {
  .card .info .infoItem {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .card .info .infoItem .heading {
    grid-column: 1/-1;
  }
}
@media screen and (max-width: 991px) {
  .card .info .infoItem {
    grid-template-columns: 1.3fr 1fr 1fr;
    gap: 10px;
  }
  .card .info .infoItem .heading {
    grid-column: 1;
  }
}
@media screen and (max-width: 767px) {
  .card .info .infoItem {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .card .info .infoItem .heading {
    grid-column: 1/-1;
  }
}
@media screen and (max-width: 640px) {
  .card .info .infoItem {
    margin-bottom: 16px;
  }
}

.card .info .infoItem .amount {
  color: rgba(228, 245, 255, 0.8);
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card .info .infoItem .token {
  color: rgba(221, 255, 239, 0.6);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 178.571% */
}

.card .description {
  padding: 10px 28px;
  color: #fff;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 166.667% */
}

@media screen and (max-width: 1199px) {
  .card .description {
    padding: 10px 0;
  }
}

.card .shortDescItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 0;
}

@media screen and (max-width: 640px) {
  .card .shortDescItem {
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
  }
}

.card .shortDescItem .left {
  color: rgba(229, 243, 255, 0.4);
  font-feature-settings: "ss03" on;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.14px;
  flex-shrink: 0;
}

.card .shortDescItem .right {
  color: rgba(229, 243, 255, 0.6);
  text-align: right;
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings: "ss03" on;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 25.6px */
  letter-spacing: -0.32px;
  display: flex;
  align-items: center;
  gap: 6px;

  flex-shrink: 0;
}
.right .vestingCounts {
  word-spacing: 8px;
}
@media screen and (max-width: 640px) {
  .card .shortDescItem .right {
    width: 100%;
  }
}

.vestingBox {
  border-radius: 20px;
  background: rgba(229, 243, 255, 0.1);
  padding: 20px 37px 12px 37px;
  margin-top: 10px;
}

@media screen and (max-width: 1199px) {
  .vestingBox {
    padding: 12px;
  }
}

.vestingBox .vestingItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.vestingBox .vestingItem .left {
  display: flex;
  gap: 6px;
  align-items: center;
  color: rgba(229, 243, 255, 0.4);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.14px;
}

.vestingBox .vestingItem .right {
  border-radius: 11px;
  background: rgba(229, 243, 255, 0.1);
  display: flex;
  padding: 4px 14px;
  align-items: center;
  gap: 12px;
  color: rgba(229, 243, 255, 0.8);
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.divider {
  width: 100%;
  height: 1px;
  border-top: 2px dashed rgba(229, 243, 255, 0.12);
}

.vestingList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
  gap: 6px;
  padding: 10px 0;
}

.vestingList .vestingNum {
  display: flex;
  height: 40px;
  padding: 0px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: rgba(229, 243, 255, 0.12);
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
}

.vestingList .vestingNum.highlighted {
  background: #000;
}

.viewAll,
.showLess {
  border-radius: 10px;
  background: rgba(229, 243, 255, 0.12);
  height: 40px;
  padding: 0px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
}

.claimBox {
  border-radius: 20px;
  background: rgba(229, 243, 255, 0.1);
  margin-top: 5px;
  padding: 20px;
}

@media screen and (max-width: 640px) {
  .claimBox {
    padding: 12px;
  }
}

.claimBox .desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20;
  flex-wrap: wrap;
}

.claimBox .desc .left {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgba(229, 243, 255, 0.4);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.14px;
}

.claimBox .desc .right {
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgba(229, 243, 255, 0.6);
  text-align: right;
  font-feature-settings: "ss03" on;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.claim {
  margin-top: 20px;
  height: 50px;
  width: 100%;
  background-color: #1ced86;
  color: #18332e;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 185.714% */
  border-radius: 14px;
}

@media only screen and (max-width: 1199px) {
  .vestingList {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 991px) {
  .vestingList {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 767px) {
  .vestingList {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 520px) {
  .vestingList {
    grid-template-columns: repeat(2, 1fr);
  }
  .vestingList .vestingNum,
  .showLess,
  .showAll {
    font-size: 14px;
  }
}
