.filteration {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 0;
  padding-bottom: 50px;
}

@media screen and (max-width: 1024px) {
  .filteration {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
}

.filteration .left {
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 640px) {
  .filteration .left {
    flex-direction: column;
  }
}

.filteration .left .searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  max-width: 280px;
  width: 100%;
}

.filteration .left .searchContainer input {
  border-radius: 20px;
  border: 1px solid rgba(229, 243, 255, 0.16);
  width: 100%;
  background-color: transparent;
  padding: 15px 0;
  padding-left: 45px;
  padding-right: 10px;
  outline: none;

  color: #fff;
}

.filteration .left .searchContainer img {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
}
.filteration .right {
  margin-left: auto;
}
.filteration .right h4 {
  color: rgba(229, 243, 255, 0.8);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.filteration .right .networks {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.networkWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-left: auto;
  width: 100%;
  position: relative;
}

.networkContainer {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #232b44;
  border-radius: 50%;
  transition: 0.3s;
}
.networkContainer:hover {
  border: 1px solid #6de0f6;
}
.active {
  box-shadow: 0px 4px 4px 0px rgba(28, 237, 134, 0.25);
  border: 1px solid #6de0f6;
}

.networkContainer img {
  width: 28px;
}
.networkName {
  color: #6de0f6;
  text-align: center;
  font-family: Avenir Next;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 120.333%;
  position: absolute;
  left: 50%;
  top: calc(100% + 6px);
  transform: translateX(-50%);
  display: none;
}
.networkWrapper:hover .networkName {
  display: block;
}

.projectInfoWrap {
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-wrap: wrap;
  gap: 18px;
  margin-top: 15px;
  width: 100%;
}
.loadMoreAndDropDown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .actions {
    flex-wrap: wrap;
    gap: 16px;
  }
}

@media screen and (max-width: 640px) {
  .actions {
    flex-direction: column;
  }
}

.rowsContainer {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 15px;
}

.rowsContainer .line {
  width: 1px;
  height: 26px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.rowsContainer .rowSelector {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  width: 75px;
  height: 45px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .rowsContainer {
    font-size: 14px;
    gap: 12px;
  }
  .rowsContainer .rowSelector {
    height: 40px;
  }
}
