.mainWrapper {
  padding: 50px 0;
  padding-top: 144px;
}
@media screen and (max-width: 520px) {
  .mainWrapper {
    padding-top: 120px;
  }
}
.wrapper {
  background: linear-gradient(
      0deg,
      rgba(36, 43, 51, 0.8) 0%,
      rgba(36, 43, 51, 0.8) 100%
    ),
    rgba(36, 43, 51, 0.8);
  padding: 15px;
}
.tableHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 18px;
}
.pageTitle {
  color: #e4f5ff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media screen and (max-width: 1024px) {
  .tableHeading {
    gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  .tableHeading {
    gap: 10px;
  }
}

@media screen and (max-width: 640px) {
  .tableHeading > *,
  .tableHeading > * > div {
    width: 100%;
  }
}
@media screen and (max-width: 520px) {
  .tableHeading > *,
  .tableHeading > * > div {
    width: 100%;
  }
}
.pageTitle {
  color: #e4f5ff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  text-transform: capitalize;
}

.searchContainer {
  position: relative;
}

.searchContainer img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 13px;
}

.searchContainer input {
  width: 265px;
  height: 46px;
  border-radius: 16px;
  border: 1px solid rgba(229, 243, 255, 0.16);
  outline: none;
  background-color: transparent;
  padding-left: 50px;
  padding-right: 20px;
  color: white;
}

@media screen and (max-width: 640px) {
  .searchContainer input {
    width: 100%;
  }
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-wrap: wrap;
  gap: 18px;
  margin-top: 15px;
  width: 100%;
}
.loadMoreAndDropDown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .actions {
    flex-wrap: wrap;
    gap: 16px;
  }
}

@media screen and (max-width: 640px) {
  .actions {
    flex-direction: column;
  }
  .loadMoreAndDropDown {
    justify-content: center;
  }
}

.rowsContainer {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 16px;
}

.rowsContainer .line {
  width: 1px;
  height: 26px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.rowsContainer .rowSelector {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  width: 79px;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  cursor: pointer;
}
@media only screen and (max-width: 640px) {
  .rowsContainer .rowSelector {
    width: 80px;
    height: 40px;
  }
  .rowsContainer .line {
    height: 20px;
  }
  .rowsContainer {
    font-size: 14px;

    gap: 12px;
  }
}
