.sidebar {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-right: 1px solid #353f49;
  padding: 12px;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
}

.heading {
  color: #fff;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150.4%; /* 24.064px */
  margin-bottom: 50px;
  position: relative;
}

.item {
  color: #fff;
  font-family: Avenir Next;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150.4%;
  cursor: pointer;
}
.activeItem {
  color: #1ced86;
}
.icon {
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}
@media only screen and (max-width: 991px) {
  .sidebar {
    transform: translateX(-150%);
    position: absolute;
    background-color: #353f49;
    transition: 0.3s;
    top: 50px;
    left: 0;
    width: 300px;
    border-radius: 12px;
  }
  .showSidebar {
    transform: translateX(0);
  }
  .icon {
    display: block;
  }
  .heading {
    margin-bottom: 12px;
  }
}
@media only screen and (max-width: 520px) {
  .sidebar {
    width: 100%;
  }
}
