.navbar {
  background-color: #242b33;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 6;
}

.navbarMain {
  height: 94px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  position: relative;
  z-index: 6;
}

.sidebar {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  padding: 6px;
  background-color: #e5f3ff1a;
  border-radius: 20px;
}

.links .link {
  padding: 10px 18px;
  transition: 0.4s ease;
  cursor: pointer;
}

.links .link:hover {
  border-radius: 16px;
  background: rgba(229, 243, 255, 0.2);
}

.cross,
.menu {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .links {
    width: 100%;
  }
  .cross {
    display: block;
    /* position: absolute; */
    margin-top: 10px;

    margin-left: auto;
    width: 26px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1280px) {
  .menu {
    display: block;
  }

  .sidebar {
    top: 0;
    right: -320px;
    position: fixed;

    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #242b33;
    padding: 40px;
    padding-top: 10px;
    overflow: auto;
    height: 100vh;
    gap: 10px;
    transition: 0.4s ease;
    z-index: 10;
  }

  .sidebar.active {
    right: 0;
  }

  .links {
    flex-direction: column;
    background-color: transparent;
    padding: 0;
  }

  .sidebar.active {
  }
}

button {
  transition: 0.3s ease;
}

button:hover {
  transform: translateY(-2px);
}
.buttonContainer {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.btn {
  background-color: #ddffef33;
  width: 50px;
  height: 50px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  flex-shrink: 0;
}

.connect {
  font-family: "Poppins";
  background-color: #ddffef;
  width: 160px;
  height: 50px;
  border-radius: 16px;
  font-weight: bold;
  font-size: 14px;
  color: #18332e;
  flex-shrink: 0;
}
@media only screen and (max-width: 1280px) {
  .buttonContainer {
    padding-left: 10px;
  }
}
@media only screen and (max-width: 991px) {
}
